<div class="d-flex flex-wrap justify-content-center body-wrapper">
  <div class="search-wrapper">
    <div class="search-module">
      <form action = "/search/game-filter" method = "GET">
        <div class="form-row mb-2">
          <div class="col-auto">
            <label for="game-name">Game Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name..." value="">
          </div>
          <div class="col-auto">
            <label for="year-published">Published Year</label>
            <input type="number" min="1900" class="form-control" placeholder="Min published year..." name="yearPublished" value="">
          </div>
          <div class="col-auto">
            <label for="min-player">Min Players</label>
            <input type="number" min="1" class="form-control" placeholder="Min players..." name="minPlayers" value="">
          </div>
          <div class="col-auto">
            <label for="max-player">Max Players</label>
            <input type="number" min="1" class="form-control" placeholder="Max players..." name="maxPlayers" value="">
          </div>
        </div>
        <div class="form-row mb-2">
          <div class="col-auto">
            <label for="max-playtime">Max PlayTime</label>
            <input type="number" class="form-control" placeholder="Max playtime..." name="maxPlaytime" value="">
          </div>
          <div class="col-auto">
            <label for="rating">Rating</label>
            <input type="number" step="0.01" class="form-control" placeholder="Min rating..." name="averageUserRating" value="">
          </div>
          <div class="col-auto">
            <label for="min-age">Min Age</label>
            <input type="number" class="form-control" placeholder="Min age..." name="minAge" value="">
          </div>
          <div class="col-auto">
            <label for="price">Price</label>
            <input type="text" class="form-control" placeholder="Max Price..." name="price" value="">
          </div>
        </div>
        <div class="form-row mt-4 mb-2 justify-content-md-center">
          <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-block">Search Game</button>
          </div>
        </div>
      </form>
    </div>
    
    <div class="sort-games">
      <form action="/search/game-sort" method="GET">
        <div class="align-items-center sort-select">
          <div class="select-input">
            <select class="custom-select" id="inlineFormCustomSelect" name="sortType">
              <option selected>Sort by</option>
              <option value="rank">Rank</option>
              <option value="age">Age</option>
              <option value="playtimelh">Playtime Low - High</option>
              <option value="playtimehl">Playtime High - Low</option>
            </select>
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary sort-button" style="margin: 0 auto">Sort</button>
          </div>
        </div>
      </form>
    </div>  
  </div>

  
  {{#each games as |game|}}
      <div class="m-3">
        <div class="card text-center card-styles">
          <a href="/games/{{game.id}}"><img src="{{game.imageURL}}" class="card-img-top" alt="{{game.name}}" height="300"></a>
          <div class="card-body">
            <a href="/games/{{game.id}}"><h5 class="card-title"><strong>{{game.name}}</strong></h5></a>
            <div class="d-flex d-wrap justify-content-center">
              {{#if_loop ../user.games game.id}}
                <div class="btn mr-3" type="submit" style="background-color: dimgray">Got it!</div>
              {{else}}
                <form action="/games/{{game.id}}/add" method="POST">
                  <button class="btn btn-success mr-3" type="submit" data-game-id="{{game.id}}" onclick="onClickAddGame(event)">Add it!</button>
                </form>
              {{/if_loop}}
              {{#if_loopwish ../user.games game.id}}
                <form action="/games/{{game.id}}/wish" method="POST">
                  <button class="btn btn-primary ml-3" style="color: white" type="submit" data-game-id="{{game.id}}" onclick="onClickWishGame(event)">Wish it!</button>
                </form>
              {{/if_loopwish}}
            </div>
          </div>
        </div>
      </div>
  {{/each}}

</div>
