<div class="d-flex flex-wrap justify-content-around body-wrapper">
  {{#each games as |game|}}
      <div class="m-3">
        <div class="card text-center" style="width: 16rem; height: 470px; background-color: rgb(205,133,63,0.30); border-color: saddlebrown;">
          <a href="/games/{{game.id}}"><img src="{{game.imageURL}}" class="card-img-top" alt="{{game.name}}" height="300"></a>
          <div class="card-body">
            <a href="/games/{{game.id}}"><h5 class="card-title" style="text-transform: capitalize; height: 80px"><strong>{{game.name}}</strong></h5></a>
            <div class="d-flex d-wrap justify-content-center">
              {{#if_loop ../user.games game.id}}
                <div class="btn mr-3" type="submit" style="background-color: dimgray">Got it!</div>
              {{else}}
                <form action="/games/{{game.id}}/add" method="POST">
                  <button class="btn btn-success mr-3" type="submit" data-game-id="{{game.id}}" onclick="onClickAddGame(event)">Add it!</button>
                </form>
              {{/if_loop}}
              {{#if_loopwish ../user.games game.id}}
                  <form action="/games/{{game.id}}/wish" method="POST">
                    <button class="btn btn-primary ml-3" style="color: white" type="submit" data-game-id="{{game.id}}" onclick="onClickWishGame(event)">Wish it!</button>
                  </form>
              {{/if_loopwish}}
            </div>
          </div>
        </div>
      </div>
  {{/each}}
</div>
<div class="adding-game">Did not find what you are looking for? <a href="/games/addGame" class="btn btn-success">Add a new game</a></div>
