<h1 class="profile-section-title">Add a new event</h1>
<div class="d-flex bd-highlight">
  <div class="p-2 bd-highlight w-75" style="margin: auto">
    <form action="/events/doCreate" method="POST" enctype='multipart/form-data'>
      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="image" value="">
          <label class="custom-file-label" for="image">Upload event .jpg or .png</label>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-2">
          <input type="text" name="name" value="" class="form-control {{#if errors.name}} is-invalid {{/if}}" placeholder="Enter event name"/>
          <div class="invalid-feedback">
            {{ errors.name }}
          </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-2">
          <input type="date" name="date" value="" class="form-control {{#if errors.date}} is-invalid {{/if}}" placeholder="Enter Event's Date"/>
          <div class="invalid-feedback">
            {{ errors.date }}
          </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-2">
          <input type="number" name="maxParticipants" value="" class="form-control {{#if errors.maxParticipants}} is-invalid {{/if}}" placeholder="Enter number of participants"/>
          <div class="invalid-feedback">
            {{ errors.maxParticipants }}
          </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-2">
          <select class="custom-select">
            {{#each user.games as |game|}}
              {{#if_eq game.owned true}}
                <option name="game" value="{{game.game.id}}">
                  {{game.game.name}}
                </option>
              {{/if_eq}}
            {{/each}}
          </select>
      </div>
      <div class="input-group mb-2">
        <input type="text" class="form-control {{#if errors.latitude }}is-invalid{{/if}}" name="latitude" value="{{user.latitude}}"
        placeholder="Enter user latitude" id="lat">
         <div class="invalid-feedback">
          {{errors.latitude}}
         </div>
      </div>
      <div class="input-group mb-2">
        <input type="text" class="form-control {{#if errors.longitude }}is-invalid{{/if}}" name="longitude"
        value="{{user.longitude}}" placeholder="Enter user longitude" id="lng">
        <div class="invalid-feedback">
          {{errors.longitude}}
        </div>
      </div>
      <div class="form-actions mt-2 mb-2" style="width: 30%; margin: auto">
        <a href="https://www.latlong.net/" class="btn btn-info btn-block" target="_blank">Find your coordinates</a>
      </div>
      <div class="form-actions" style="width: 30%; margin: auto">
          <button type="submit" class="btn btn-primary btn-block">Create Event</button>
      </div>
    </form>
  </div>
</div>