<div class="d-flex flex-row flex-wrap justify-content-around pt-5 pl-5 pr-5" style="width: 100vw">
{{#each events as |event|}}
  <div class="m-3">
        <div class="card text-center card-styles">
          <a href="/games/{{event.id}}"><img src="{{event.imageURL}}" class="card-img-top" alt="{{event.name}}" height="300"></a>
          <div class="card-body">
            <a href="/games/{{event.id}}"><h5 class="card-title"><strong>{{event.name}}</strong></h5></a>
          </div>
        </div>
  </div>
{{/each}}
</div>