<div class="body-wrapper profile-info-section">
  <div class="first-column">
    <img class="profile-image user-profile-img-bronze {{#if_silver userdb.games}}user-profile-img-silver{{/if_silver}} {{#if_gold userdb.games}}user-profile-img-gold{{/if_gold}}" src="{{ userdb.avatarURL }}" alt="user avatar">
  </div>
  <div class="profile-info-text second-column">
    <h1 class="profile-title">{{userdb.username}}</h1>
    <p>Age: {{userdb.age}}</p>
    <p>Owns: {{#ownerNumber userdb.games }}{{/ownerNumber}} games</p>
    <p>Wants: {{#wishNumber userdb.games }}{{/wishNumber}} games</p>
    <p>Exchanges: {{#exchangeNumber userdb.games }}{{/exchangeNumber}} games</p>
    <p>Usually plays in: {{ userdb.city }}</p>
    <p>Follows: {{#followNumber userdb.network }}{{/followNumber}} users</p>
  </div>
  <div class="p-4 d-flex-row third-column">
    <div><a href="#owned-games" class="btn btn-primary mt-2" style="width:100%">See games</a></div>
    <div><a href="#wishlist" class="btn btn-primary mt-2" style="width:100%">See wishlist</a></div>
    <div><a href="#exchangelist" class="btn btn-primary mt-2" style="width:100%">See exchangelist</a></div>
    <div><a href="#network" class="btn btn-primary mt-2" style="width:100%">See friends</a></div>
    <div><a href="/events/create" class="btn btn-warning mt-2" style="width:100%">Create an event</a></div>
  </div>
</div>


<div class="d-flex flex-wrap justify-content-around sectionize">
  <h2 id="owned-games" class="profile-section-title profile-title2">Owned games</h2>
    {{#each userdb.games as |game|}}
      {{#if_eq game.owned true}}
        <div class="mt-3 mb-2">
          <div class="card text-center card-styles">
            <a href="/games/{{game.game.id}}"><img src="{{game.game.imageURL}}" class="card-img-top" alt="{{game.game.name}}" height="300"></a>
            <div class="card-body">
              <a href="/games/{{game.game.id}}"><h5 class="card-title"><strong>{{game.game.name}}</strong></h5></a>
              {{#if_eq ../session.id ../userdb.id}}
              <div class="d-flex d-wrap justify-content-center">
                <form action="/games/{{game.game.id}}/removeOwned" method="POST">
                  <button class="btn btn-danger mr-3" type="submit">Remove</button>
                </form>
                <form action="/games/{{game.game.id}}/change" method="POST">
                  <button class="btn btn-primary ml-3" style="color: white" type="submit">Exchange</button>
                </form>
              </div>
              {{/if_eq}}
            </div>
          </div>
        </div>
        {{/if_eq}}
    {{/each}}
</div>


<div class="d-flex flex-wrap justify-content-around sectionize">
  <h2 id="wishlist" class="profile-section-title profile-title2">Wished games</h2>
    {{#each userdb.games as |game|}}
      {{#if_eq game.wished true}}
        <div class="mt-3 mb-2">
          <div class="card text-center card-styles">
            <a href="/games/{{game.game.id}}"><img src="{{game.game.imageURL}}" class="card-img-top" alt="{{game.game.name}}" height="300"></a>
            <div class="card-body">
              <a href="/games/{{game.game.id}}"><h5 class="card-title"><strong>{{game.game.name}}</strong></h5></a>
              {{#if_eq ../session.id ../userdb.id}}
              <div class="d-flex d-wrap justify-content-center">
                <form action="/games/{{game.game.id}}/removeWish" method="POST">
                  <button class="btn btn-danger mr-3" type="submit">Remove</button>
                </form>
                <form action="/games/{{game.game.id}}/add" method="POST">
                  <button class="btn btn-success mr-3" type="submit" data-game-id="{{game.game.id}}" onclick="onClickAddGame(event)">Add</button>
                </form>
              </div>
              {{/if_eq}}
            </div>
          </div>
        </div>
      {{/if_eq}}
    {{/each}}
</div>


<div class="d-flex flex-wrap justify-content-around sectionize">
  <h2 id="exchangelist" class="profile-section-title profile-title2">Exchangable games</h2>
    {{#each userdb.games as |game|}}
      {{#if_eq game.toChange true}}
        <div class="mt-3 mb-2">
          <div class="card text-center card-styles">
            <a href="/games/{{game.game.id}}"><img src="{{game.game.imageURL}}" class="card-img-top" alt="{{game.game.name}}" height="300"></a>
            <div class="card-body">
              <a href="/games/{{game.game.id}}"><h5 class="card-title"><strong>{{game.game.name}}</strong></h5></a>
              {{#if_eq ../session.id ../userdb.id}}
              <div class="d-flex d-wrap justify-content-center">
                <form action="/games/{{game.game.id}}/removeChange" method="POST">
                  <button class="btn btn-danger mr-3" type="submit">Remove</button>
                </form>
              </div>
              {{/if_eq}}
            </div>
          </div>
        </div>
      {{/if_eq}}
    {{/each}}
</div>

<div class="d-flex flex-wrap justify-content-around sectionize pb-5">
  <h2 id="network" class="profile-section-title profile-title2">Network</h2>
    {{#each userdb.network as |user|}}
      {{#if_eq user.follow true}}
        <a style="text-decoration:none" href="/users/{{ user.user.id }}" class="user-wrapper user-profile-img-bronze {{#if_silver user.user.games}}user-profile-img-silver{{/if_silver}} {{#if_gold user.user.games}}user-profile-img-gold{{/if_gold}}">
          <div class="user-name">
            <div>{{ user.user.username }}</div>
            {{#if_eq ../session.id ../userdb.id}}
            <form action="/users/{{user.user.id}}/unfollow" method="POST">
              <button class="btn btn-danger" type="submit">Unfollow</button>
            </form>
            {{/if_eq}}
          </div>
          <div class="user-body">
            <div class="user-info">
              <p>{{ user.user.age }}</p>
              <p>{{ user.user.city }}</p>
              <p>Exchange {{#exchangeNumber user.user.games }}{{/exchangeNumber}} games</p>
            </div>
            <div class="user-avatar"><img src="{{ user.user.avatarURL }}" alt="user avatar"></div>
          </div>
        </a>
      {{/if_eq}}
    {{/each}}
</div>