<div class="d-flex bd-highlight">
  <div class="p-4">
    <img src={{data.imageURL}} alt={{data.name}} width="300">
  </div>
  <div class="p-2 bd-highlight w-75">
    <a href="/">Go Back</a>
    <h2>{{data.name}}</h2>
    <h3> Year Published: {{data.yearPublished}}</h3>
    <h3> Min Players: {{data.minPlayers}}</h3>
    <h3> Max Players: {{data.maxPlayers}}</h3>
    <h3> Max PlayTime: {{data.maxPlaytime}}</h3>
    <h3> RANK: {{data.averageUserRating}}</h3>
    <h3> Description: {{data.description}}</h3>
    <h3> Rules: {{data.rulesURL}}</h3>
    <h3> Price: {{data.price}}</h3>
    
  </div>
</div>
