<div class="d-flex bd-highlight">
  <div class="p-4 d-flex-row">
    <div><img src={{game.imageURL}} alt={{game.name}} width="300"></div>
    <div><a href="/games/{{game.id}}/update" class="btn btn-primary mt-2" style="width:100%">Update game</a></div>
    <div><a href="/events/create" class="btn btn-warning mt-2" style="width:100%">Create an event</a></div>
    <div><a href="/" class="btn btn-success mt-2" style="width:100%">Go Main</a></div>
  </div>
  <div class="p-4 bd-highlight w-75">
    <h4 class="text-uppercase text-center profile-title"><strong>{{game.name}}</strong></h4>
    <h5> <strong>Year Published: </strong>{{game.yearPublished}}</h5>
    <h5> <strong>Min Players: </strong>{{game.minPlayers}}</h5>
    <h5> <strong>Max Players: </strong>{{game.maxPlayers}}</h5>
    <h5> <strong>Max PlayTime: </strong>{{game.maxPlaytime}}</h5>
    <h5> <strong>Min Age: </strong>{{game.minAge}}</h5>
    <h5> <strong>Rating: </strong>
      <script>
        document.write( {{game.averageUserRating}}.toFixed(2) );
      </script>
    </h5>
    <h5> 
      <strong>Description: </strong>
      <p class="text-justify">{{game.description}}</p>
    </h5>
    <h5> 
      <strong>Rules: </strong>
      </br>
      <a href="{{game.rulesURL}}">{{game.rulesURL}}</a>
    </h5>
    
    <h5> <strong>Price: </strong>${{game.price}}</h5>
  </div>
</div>

<div class="sectionize">
  <div>
    <h4 class="text-uppercase text-center pt-3 profile-title2"><strong>EVENTS</strong></h4>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-around p-4" style="width: 100vw">
    {{#each event as |e|}}
      <div class="m-3">
        <div class="card text-center card-styles">
          <a href="/events/{{e.id}}"><img src="{{e.imageURL}}" class="card-img-top" alt="{{e.name}}" height="300"></a>
          <div class="event-body-card">
            <a href="/events/{{e.id}}"><strong>{{e.name}}</strong></a>
            <p class="mt-3">{{#formatDate e.date}}{{/formatDate}}</p>
            <p>Spots left: {{#numberOfParticipants e.participants}}{{/numberOfParticipants}} / {{e.maxParticipants}}</p>
            {{#if_eq e.owner ../user.id}}
              <form action="/events/{{e.id}}/cancel" method="POST">
                <button class="btn btn-danger" type="submit">Cancel</button>
              </form>
            {{else}}
              {{#if_full e.participants e.maxParticipants}}
                  <a class="btn btn-secondary" style="color:white" src="#">Full!</a>
              {{else}}
                {{#if_joined e.participants ../user.id}}
                  <a class="btn btn-secondary" style="color: white;">Joined</a>
                {{else}}
                  <form action="/events/{{e.id}}/join" method="POST">
                    <button class="btn btn-success" type="submit">Join!</button>
                  </form>
                {{/if_joined}}
              {{/if_full}}
            {{/if_eq}}
          </div>
        </div>
  </div>
    {{/each}}
  </div>
</div>  

<div class="sectionize">
  {{>comments game=game errors=errors}}
</div>