<div class="d-flex bd-highlight">
  <div class="p-4">
    <img src={{data.image_url}} alt={{data.name}} width="300">
  </div>
  <div class="p-2 bd-highlight w-75">
    <a href="/">Go Back</a>
    <h2>{{data.name}}</h2>
    <h3> Year Published: {{data.year_published}}</h3>
    <h3> Min Players: {{data.min_players}}</h3>
    <h3> Max Players: {{data.max_players}}</h3>
    <h3> Max PlayTime: {{data.max_playtime}}</h3>
    <h3> RANK: {{data.average_user_rating}}</h3>
    <h3> Description: {{data.description}}</h3>
    <h3> Rules: {{data.rules_url}}</h3>
    <h3> Price: {{data.price}}</h3>
    
  </div>
</div>
